.Sidebar {
    background-color: var(--clr-primary-100);
    height: 100dvh;
    position: sticky;
    top: 0;
    width: max-content;
    flex: 1 1 100%;
;

    &__wrapper {
        display: grid;
        gap: var(--spc-900);
        padding: var(--spc-300) var(--spc-600);
    }

    &__appLogoWrapper {
        display: flex;
        justify-content: center;
    }

    &__appLogo {
        width: var(--spc-800);
    }
}
