$primary: (
    100: 359 90 95,
    200: 359 80 85,
    300: 359 70 75,
    400: 359 60 65,
    500: 359 50 55,
    600: 359 40 45,
    700: 359 30 35,
    800: 359 20 25,
    900: 359 10 15,
);

$secondary: (
    100: 293 91% 95%,
    200: 293 81% 89%,
    300: 293 71% 79%,
    400: 293 61% 69%,
    500: 293 51% 59%,
    600: 293 41% 49%,
    700: 293 31% 39%,
    800: 293 21% 29%,
    900: 293 11% 19%,
);

$neutral: (
    50: 359 4% 96%,
    100: 359 4% 89%,
    200: 359 4% 79%,
    300: 359 4% 69%,
    400: 359 4% 59%,
    500: 359 4% 49%,
    600: 359 4% 39%,
    700: 359 4% 29%,
    800: 359 4% 19%,
    900: 359 4% 9%,
);

$feedback: (
    "danger": (
        100: 359 10% 10%,
        200: 359 20% 20%,
        300: 359 30% 30%,
        400: 359 40% 40%,
        500: 359 50% 50%,
        600: 359 60% 60%,
        700: 359 70% 70%,
        800: 359 80% 80%,
        900: 359 90% 90%,
    ),
    "success": (
        100: 130 10% 10%,
        200: 130 20% 20%,
        300: 130 30% 30%,
        400: 130 40% 40%,
        500: 130 50% 50%,
        600: 130 60% 60%,
        700: 130 70% 70%,
        800: 130 80% 80%,
        900: 130 90% 90%,
    ),
    "warning": (
        100: 62 10% 10%,
        200: 62 20% 20%,
        300: 62 30% 30%,
        400: 62 40% 40%,
        500: 62 50% 50%,
        600: 62 60% 60%,
        700: 62 70% 70%,
        800: 62 80% 80%,
        900: 62 90% 90%,
    ),
    "info": (
        100: 226 10% 10%,
        200: 226 20% 20%,
        300: 226 30% 30%,
        400: 226 40% 40%,
        500: 226 50% 50%,
        600: 226 60% 60%,
        700: 226 70% 70%,
        800: 226 80% 80%,
        900: 226 90% 90%,
    ),
);
