.Cart {
    // main container
    &__mainContainer {
        padding-inline: var(--spc-200);
        display: grid;
        gap: var(--spc-300);

        @media screen and (min-width: 640px) {
            padding-inline: var(--spc-900);
        }

        @media screen and (min-width: 1024px) {
            padding-inline: calc(var(--spc-800) * 2);
        }

        @media screen and (min-width: 1200px) {
            padding-inline: calc(var(--spc-900) * 3);
        }

        @media screen and (min-width: 1440px) {
            max-width: 1440px;
            margin-inline: auto;
        }
    }

    // content group
    &__contentGroup {
        display: grid;
        gap: var(--spc-300);

        @media screen and (width > 1024px) {
            display: flex;
            gap: var(--spc-500);
        }
    }

    // page header
    &__mainHeader {
        display: grid;
        gap: var(--spc-50);
    }

    &__headerTitle {
        font-family: var(--ff-heading);
        font-size: var(--fs-heading-100);
    }

    &__headerCaption {
        font-size: var(--fs-body-200);
    }

    // section separator
    &__sectionSeparator {
        $separator-height: 2px;

        background-color: var(--clr-neutral-200);
        height: $separator-height;

        @media screen and (width > 1024px) {
            display: none;
        }
    }
}