.ItemView {
    display: grid;
    gap: var(--spc-800);
    padding-inline: var(--spc-200);

    @media screen and (min-width: 640px) {
        padding-inline: var(--spc-900);
    }

    @media screen and (min-width: 1024px) {
        padding-inline: calc(var(--spc-800) * 2);
    }

    @media screen and (min-width: 1200px) {
        padding-inline: calc(var(--spc-900) * 3);
    }

    @media screen and (min-width: 1440px) {
        max-width: 1440px;
        margin-inline: auto;
    }

    // Item View

    &__itemViewWrapper {
        @media screen and (min-width: 768px) {
            display: flex;
            gap: 4vw;
        }
    }

    &__itemImageWrapper {
        @media screen and (min-width: 768px) {
            flex-basis: 32rem;
        }

        @media screen and (min-width: 1024px) {
            flex-basis: 40rem;
        }
    }

    &__itemViewPanelGroup {
        margin-top: var(--spc-300);
        width: 100%;
    }

    &__itemViewHeading {
        display: grid;
        gap: var(--spc-100);
        margin-bottom: var(--spc-300);
    }

    &__itemName {
        font-family: var(--ff-heading);
        font-size: clamp(var(--fs-body-300), 2vw + 1rem, var(--fs-heading-300));
    }

    &__itemPrice {
        font-size: var(--fs-body-400);
    }

    // Item Form

    &__itemForm {
        display: grid;
        gap: var(--spc-200);
    }

    &__formGroup {
        margin-bottom: var(--spc-300);
    }

    // Form Action

    &__formActions {
        display: flex;
        flex-direction: column;
        gap: var(--spc-100);

        @media screen and (min-width: 1024px) {
            flex-direction: row;

        }
    }

    &__formAction {
        flex: 1;
    }

    // Item Info

    &__itemInfo,
    &__contentGroup {
        display: grid;
    }

    &__itemInfo {
        gap: var(--spc-400);
    }

    &__contentGroup {
        gap: var(--spc-100);
    }

    &__contentTitle {
        font-family: var(--ff-heading);
    }
}
