$button-radius: var(--spc-50);

@mixin button-base-style {
    outline: transparent;
}

@mixin button-cursor {
    cursor: pointer;
}

@mixin button-padding($padding: "default") {
    @if $padding == "default" {
        padding-block: var(--spc-200);
    }
}

.Button {
    &__primaryButton {
        background-color: var(--clr-primary-200);
        border: none;
        transition: background-color 250ms ease-in-out;
        border-radius: $button-radius;
        font-weight: bold;
        @include button-base-style;
        @include button-padding;
        @include button-cursor;

        &:hover {
            background-color: var(--clr-primary-300);
        }
    }

    &__secondaryButton {
        background: none;
        border: 2px solid var(--clr-primary-200);
        transition: all 250ms ease-in-out;
        border-radius: $button-radius;
        font-weight: bold;
        @include button-base-style;
        @include button-padding;
        @include button-cursor;

        &:hover {
            background-color: var(--clr-primary-300);
            border: 2px solid var(--clr-primary-300);
        }
    }

    &__productCardButton {
        width: 100%;
        background-color: var(--clr-primary-200);
        border: none;
        transition: background-color 250ms ease-in-out;
        border-radius: $button-radius;
        font-weight: bold;
        @include button-base-style;
        @include button-padding;
        @include button-cursor;

        &:hover {
            background-color: var(--clr-primary-300);
        }
    }

    &__iconButton {
        background: none;
        border: none;
        cursor: pointer;
    }
}
